body {
  /* remove margins and scroll bars */
  margin: 0;
  overflow: hidden;

  /* style text */
  text-align: center;
  font-size: 12px;
  font-family: Sans-Serif;

  /* color text */
  color: #444;
}

h1 {
  /* position the heading */
  position: absolute;
  width: 100%;

  /* make sure that the heading is drawn on top */
  z-index: 1;
}

#scene-container {
  /* tell our scene container to take up the full page */
  position: absolute;
  width: 100%;
  height: 100%;

  /*
     Set the container's background color to the same as the scene's
     background to prevent flashing on load
   */
  background-color: skyblue;
}

#debug {
  position: absolute;
  text-align: left;
  left: 1em;
  top: 1em;
  padding: 1em;
  background: rgba(0, 0, 0, 0);
  color: white;
  font-family: monospace;
}

#debugStats {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: fit-content;
  justify-content: flex-start;
}

#overlay {
  position: absolute;
  font-size: 16px;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.7);
}

#overlay button {
  background: transparent;
  border: 0;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 4px;
  color: #ffffff;
  padding: 12px 18px;
  text-transform: uppercase;
  cursor: pointer;
}

#curtain {
  position: absolute;

  background: black;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.scene-end {
  animation-name: scene-end;
  animation-duration: 3s;
}

@keyframes scene-end {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
